html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
}


@keyframes animate {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

.container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    animation: animate 4s linear infinite;
}

.row {
    display: inline-flex;
    position: relative;
    left: -30px;
}

.row:nth-child(2n) {
    margin-left: 88px;
    margin-top: -48px;
}

.row:nth-child(2n+1) {
    margin-top: -52px;
}

.hexagon {
    /* transform: rotate(90deg); */
    width: 110px;
    height: 100px;
    background-color: #222;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    margin-right: 65px;
    transition: 4s;
}

.hexagon:hover {
    transition: 0s;
    background-color: #0f0;
}